@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    position: relative;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
    
}

.navbar ul li{
    font-family: 'Comic Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all 0.5s ease;
    margin: 3.5px;
    border-radius: 10px;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
}

h1{
    font-family: 'Comic Neue', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("img/home_main_bg.jpg");
    background-size: cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 50%;
}

#about{
    display: flex;
    flex-direction: column;
}

#pic{
    display: flex;
}

#pic img{
    width: 500px;
    height: 380px;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

