:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --text-tertiary: whitesmoke;
    --color-primary:#64ffda;
    --bg-primary:#303036;
    --nav-bg-primary: #022B3A;
    --nav-bg-secondary: #0a192f;
    --transition-speed: 600ms;

}
.light-theme{
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --nav-bg-primary: #ffffff;
    --nav-bg-secondary: #e4e4e4;
}
#moon{
    opacity: 0;
}
#sun{
    opacity: 1;
}

.light-theme #moon{
    opacity: 1;
}
.light-theme #sun{
    opacity: 0;
}

.theme-container{
    display: inline-block;
    position: relative;
}
.theme-container > :first-child~ * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
  }

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    /*background-color: var(--bg-primary);*/
}


body::-webkit-scrollbar {
    width: 0.3rem;
}
  
  body::-webkit-scrollbar-track {
    background: var(--nav-bg-primary);
}
  
  body::-webkit-scrollbar-thumb {
    background: var(--nav-bg-secondary);
}

@supports(scrollbar-color: red blue){
    *{
    scrollbar-color: var(--nav-bg-primary) var(--nav-bg-secondary);
}
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    z-index: 999;
    overflow-y: auto;
    max-height: 100vh;
    position: fixed;
    background-color: var(--nav-bg-primary);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}



.nav-item{
    width: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    cursor: pointer;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--nav-bg-secondary);
    color: var(--text-secondary);
    font-weight: 550;
}

.link-text{
    display: none;
    margin-left: 1rem;
    transition: display 1000ms;
}

.nav-link svg {
    width: 30px;
    margin: 0 1.5rem;
    filter: invert(91%) sepia(20%) saturate(1111%) hue-rotate(92deg) brightness(102%) contrast(108%);
    /* filter for icon https://codepen.io/sosuke/pen/Pjoqqp */
    transition: var(--transition-speed);
    display: block;
}



.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--nav-bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(-180deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(0deg);
}

/* small screen */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
  
    .logo {
        display: none;
    }
  
    .navbar-nav {
        flex-direction: row;
    }
  
    .nav-link {
        justify-content: center;
    }
  
    main {
        margin: 0;
    }
  }
 
/* large screen */
@media only screen and (min-width: 600px) {

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        transition: width var(--transition-speed) 100ms;
    }
  
    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: block;
    }
}


/*      Home    */
#home{
    top: 0;
    height: 100vh;
    background-color: var(--bg-primary);
}

.home-text{
    color: var(--text-tertiary);
    font-size: 45px;
    text-align: center;
    position: relative;
    z-index: 10;
    top: 35%;
    height: 270px;
    width: 700px;
    margin: auto;
    padding: 0;
    line-height: 0.9rem;
}
.home-text h2{
    font-size: 36px;
}


.waves{
    z-index: -1;
    margin: 0;
    
}

.custom-shape-divider-bottom-1654452472 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1654452472 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1654452472 .shape-fill {
    fill: #343438;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1654452472 svg {
        width: calc(150% + 1.3px);
        height: 500px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1654452472 svg {
        width: calc(176% + 1.3px);
        height: 206px;
    }
}


.custom-shape-divider-bottom-1654452565 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1654452565 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 428px;
}

.custom-shape-divider-bottom-1654452565 .shape-fill {
    fill: #262629;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1654452565 svg {
        width: calc(150% + 1.3px);
        height: 428px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1654452565 svg {
        width: calc(176% + 1.3px);
        height: 500px;
    }
}

.custom-shape-divider-bottom-1654452597 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1654452597 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 344px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1654452597 .shape-fill {
    fill: #262629;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1654452597 svg {
        width: calc(150% + 1.3px);
        height: 344px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1654452597 svg {
        width: calc(176% + 1.3px);
        height: 500px;
    }
}

.custom-shape-divider-bottom-1654452715 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654452715 svg {
    position: relative;
    display: block;
    width: calc(196% + 1.3px);
    height: 223px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1654452715 .shape-fill {
    fill: #1A1A1C;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1654452715 svg {
        width: calc(150% + 1.3px);
        height: 223px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1654452715 svg {
        width: calc(176% + 1.3px);
        height: 500px;
    }
}

.custom-shape-divider-top-1654452801 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1654452801 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1654452801 .shape-fill {
    fill: #343438;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1654452801 svg {
        width: calc(150% + 1.3px);
        height: 500px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1654452801 svg {
        width: calc(176% + 1.3px);
        height: 500px;
    }
}

.custom-shape-divider-top-1654452941 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1654452941 svg {
    position: relative;
    display: block;
    width: calc(199% + 1.3px);
    height: 235px;
}

.custom-shape-divider-top-1654452941 .shape-fill {
    fill: #343438;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1654452941 svg {
        width: calc(150% + 1.3px);
        height: 235px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1654452941 svg {
        width: calc(176% + 1.3px);
        height: 500px;
    }
}

.custom-shape-divider-top-1654453033 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1654453033 svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 355px;
}

.custom-shape-divider-top-1654453033 .shape-fill {
    fill: #262629;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1654453033 svg {
        width: calc(150% + 1.3px);
        height: 355px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1654453033 svg {
        width: calc(176% + 1.3px);
        height: 500px;
    }
}

.custom-shape-divider-top-1654453098 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1654453098 svg {
    position: relative;
    display: block;
    width: calc(203% + 1.3px);
    height: 256px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1654453098 .shape-fill {
    fill: #1A1A1C;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1654453098 svg {
        width: calc(150% + 1.3px);
        height: 256px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1654453098 svg {
        width: calc(176% + 1.3px);
        height: 152px;
    }
}

@media screen and (max-width: 768px){
    .waves{
        display: none;
    }
    .home-text{
        font-size: 30px;
        width: auto;
    }
}


#about{
    min-height: 100vh;
    background-color: #eee;
    z-index: -1;
}

.custom-shape-divider-top-1654540688 {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.custom-shape-divider-top-1654540688 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 286px;
    shape-outside: polygon(10px 10px, 20px 20px, 30px 30px);
}

.custom-shape-divider-top-1654540688 .shape-fill {
    fill: #303036;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: local('Helvetica Now Display Ext Lt'), local('Helvetica-Now-Display-Ext-Lt'),
        url('HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtLt.woff') format('woff'),
        url('HelveticaNowDisplay-ExtLt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.about-text{
    position: relative;
    z-index: 1;
    margin-left: 7rem;
    margin-right: 2rem;
}

.about-me{
    margin: 0;
    position: absolute;
    z-index: -1;
    transform: translateY(-50%);
    font-family: "Helvetica Now Display", ;
    font-size: 13rem;
    color: rgba(238, 238, 238, 0.801);
    overflow: hidden;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px var(--text-primary);
}