:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --color-primary:#64ffda;
    --bg-primary:#303036;
    --nav-bg-primary: #022B3A;
    --nav-bg-secondary: #0a192f;
    --transition-speed: 600ms;
}
.light-theme{
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --nav-bg-primary: #ffffff;
    --nav-bg-secondary: #e4e4e4;
}
#moon{
    opacity: 0;
}
#sun{
    opacity: 1;
}

.light-theme #moon{
    opacity: 1;
}
.light-theme #sun{
    opacity: 0;
}

.theme-container{
    display: inline-block;
    position: relative;
}
.theme-container > :first-child~ * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
}


body::-webkit-scrollbar {
    width: 0.3rem;
}
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
}
  
  body::-webkit-scrollbar-thumb {
    background: red;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    overflow-y: auto;
    max-height: 100vh;
    position: fixed;
    background-color: var(--nav-bg-primary);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}



.nav-item{
    width: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    cursor: pointer;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--nav-bg-secondary);
    color: var(--text-secondary);
    font-weight: 550;
}

.link-text{
    display: none;
    margin-left: 1rem;
    transition: display 1000ms;
}

.nav-link svg {
    width: 30px;
    margin: 0 1.5rem;
    filter: invert(91%) sepia(20%) saturate(1111%) hue-rotate(92deg) brightness(102%) contrast(108%);
    /* filter for icon https://codepen.io/sosuke/pen/Pjoqqp */
    transition: var(--transition-speed);
    display: block;
}



.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--nav-bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(-180deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(0deg);
}

/* small screen */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
  
    .logo {
        display: none;
    }
  
    .navbar-nav {
        flex-direction: row;
    }
  
    .nav-link {
        justify-content: center;
    }
  
    main {
        margin: 0;
    }
  }
 
/* large screen */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        transition: width var(--transition-speed)
    }
  
    .navbar:hover {
        width: 16rem;
        
    }
    .navbar:hover .link-text {
        display: block;
    }
}



