*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

// Colors
$defualt: #121213;
$empty: #3a3a3c;
$wrong: #b59f3b;
$right: #538d4e;

main{
    text-align: center;
}

.board{
    text-transform: uppercase;
    margin: 0 auto;
    width: 24em;
    display: grid;
    place-items: centre;

    .grid{
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: repeat(5, auto);
        gap: 10px;
        margin-bottom: 5rem;
        

        .box{
            $scale: 60px;
            width: $scale;
            height: $scale;
            border: 2px solid black;
            margin: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            

            &.empty{
                background-color: #3f3f41;
            }
            &.wrong{
                background-color: #e05252;
            }
            &.right{
                background-color: #52a84a;
            }
        }
    }
}

.cursor{
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {  background-color: #ffffff;}
    50% { background-color: #e4e4e4;}
    100% { background-color: #ffffff;}
}
