@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.warn-bg {
  background-color: #ffe0e0;
}

.warn-box {
  background-color: #ffa0a0 !important;
}

main {
  text-align: center;
  display: none;
}
main #rada {
  display: none;
  position: relative;
  margin-top: 13rem;
}
main #endTxt {
  display: absolute;
  margin-bottom: 1rem;
}

.board {
  text-transform: uppercase;
  margin: 0 auto;
  width: 24rem;
  display: grid;
  place-items: centre;
}
.board .grid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  margin-bottom: 2rem;
}
.board .grid .box {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}
.board .grid .box.empty {
  background-color: #3f3f41;
  color: #e4e4e4;
}
.board .grid .box.wrong {
  background-color: #e05252;
  color: #e4e4e4;
}
.board .grid .box.right {
  background-color: #52a84a;
  color: #e4e4e4;
}

.keyboard {
  width: 26rem;
  grid-template-rows: auto;
  margin: 0 auto 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}
.keyboard button {
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.2em;
  font-size: 1.4em;
  padding: 0 !important;
  margin: 0.1em;
  width: 1.5em;
  height: 1.5em;
  touch-action: manipulation;
  background-color: #f4f4f4;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin-left: 0.4em;
  width: 1.9em;
  background-color: #f4f4f4;
}
.keyboard button:hover, .keyboard button:focus, .keyboard button:focus-visible {
  background-color: #dadada;
  outline: 0.15em solid rgba(50, 162, 206, 0.3960784314);
}

.cursor {
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes blink {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #dadada;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes blink {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #dadada;
  }
  100% {
    background-color: #fff;
  }
}
.language-choose {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50% -50%);
  height: 50vh;
  width: 50vw;
  background-color: #dadada;
  border: 5px solid #3f3f41;
  border-radius: 30px;
  box-shadow: 10px 10px 50px 15px #3f3f41;
}
.language-choose h2 {
  margin: 2rem;
  font-size: 3vw;
}
.language-choose input {
  width: 4vw;
  height: 25px;
}
.language-choose .inp {
  margin-top: 3rem;
  font-size: 1.7rem;
}
.language-choose button {
  text-align: center;
  border-radius: 0.2em;
  font-size: 1.4em;
  padding: 1rem;
  margin-top: 2rem;
  width: 10rem;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 10px 3px #3f3f41;
}
.language-choose button:hover, .language-choose button:focus, .language-choose button:focus-visible {
  background-color: #dadada;
}

@media only screen and (max-width: 550px) {
  .language-choose h2 {
    font-size: 25px;
  }
  .language-choose input {
    height: 17px;
  }
  .language-choose .inp {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */